<!--네비게이션바에 메뉴선정-->
<span class="sr-only">Navigation:</span>
<ul>
  
      <!-- 메뉴 각각을 식별하기위한 인덱스 -->    
      <li>
        <div class="menu-wrapper" onmouseover="javascript:spread(9)" onmouseout="javascript:spread(9)">
           <!-- submenu 변수는 _config.yml 에서 추가합니다 -->       
          <a id="_drawer--opened" href="/about/" class="sidebar-nav-item">
            About
          </a>
       </div>
      </li>
    
      
      <!-- 메뉴 각각을 식별하기위한 인덱스 -->
      
      <li>
        <div class="menu-wrapper" onmouseover="javascript:spread(10)" onmouseout="javascript:spread(10)">
           <!-- submenu 변수는 _config.yml 에서 추가합니다 -->
           
          <button class="spread-btn">
                <!-- marterial stylesheet를 my-head.html에 추가합니다 -->
              <span id="spread-icon-11" class="material-icons">arrow_right</span>
          </button>

          <a href="/ai/" class="sidebar-nav-item">
            AI
          </a>

          <div id="submenu-10" class="menu-wrapper submenu hide">
            <ul style="list-style: none;">
            
            <li>
                <a class="sidebar-nav-item" href="/mldl/">
                ML/DL
                </a>
            </li>
            
            <li>
                <a class="sidebar-nav-item" href="/papers/">
                Papers
                </a>
            </li>
            
            <li>
                <a class="sidebar-nav-item" href="/ai-etc/">
                etc
                </a>
            </li>
            </ul>
          </div>  
        </div>
      </li>
        
      <li>
        <div class="menu-wrapper" onmouseover="javascript:spread(11)" onmouseout="javascript:spread(11)">
            <!-- submenu 변수는 _config.yml 에서 추가합니다 -->
             <!-- spread 함수는 js 파일로 작성하고 my-head.html에 추가합니다 -->
             <!-- spread-btn class는 my-style.scss에 추가합니다. -->
             
          <button class="spread-btn">
              <!-- marterial stylesheet를 my-head.html에 추가합니다 -->
            <span id="spread-icon-11" class="material-icons">arrow_right</span>
          </button>

          <a id="_drawer--opened" href="/security/" class="sidebar-nav-item">
            Security
          </a>


          <div id="submenu-11" class="menu-wrapper submenu hide">
            <ul style="list-style: none;">
          
            <li>
              <a class="sidebar-nav-item" href="/systemhack/">
              Syshack
              </a>
            </li>
          
            <li>
              <a class="sidebar-nav-item" href="/reversing/">
              Reversing
              </a>
            </li>
          
            <li>
              <a class="sidebar-nav-item" href="/webhack/">
              Webhack
              </a>
            </li>

            <li>
              <a class="sidebar-nav-item" href="/Crpytography/">
              Crpyto
              </a>
            </li>
            
            <li>
              <a class="sidebar-nav-item" href="/forensic/">
              Forensic
              </a>
            </li>

            <li>
              <a class="sidebar-nav-item" href="/networkhack/">
              Nwhack
              </a>
            </li>
            
            <li>
              <a class="sidebar-nav-item" href="/mobliehack/">
              mbhack
              </a>
            </li>


            </ul>
          </div>  
        </div>
      </li>
    
      
      <!-- 메뉴 각각을 식별하기위한 인덱스 -->
      <li>
        <div class="menu-wrapper" onmouseover="javascript:spread(12)" onmouseout="javascript:spread(12)">
           <!-- submenu 변수는 _config.yml 에서 추가합니다 -->
          
            <!-- spread 함수는 js 파일로 작성하고 my-head.html에 추가합니다 -->
            <!-- spread-btn class는 my-style.scss에 추가합니다. -->
            <button class="spread-btn">
                <!-- marterial stylesheet를 my-head.html에 추가합니다 -->
              <span id="spread-icon-12" class="material-icons">arrow_right</span>
            </button>
          
            <a href="/pl/" class="sidebar-nav-item">
                PL
            </a>
            
            <div id="submenu-12" class="menu-wrapper submenu hide">
                <ul style="list-style: none;">

                <li>
                    <a class="sidebar-nav-item" href="/python/">
                    Python
                    </a>
                </li>

                <li>
                    <a class="sidebar-nav-item" href="/java/">
                    JAVA
                    </a>
                </li>

                <li>
                    <a class="sidebar-nav-item" href="/c/">
                    C
                    </a>
                </li>
                </ul>
            </div>
          
        </div>
       </li>
    
</ul>